In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('inventory_table.csv')
df

            productID         category sub_category  stock     price
0     TEC-PH-10000702       Technology       Phones     58    79.920
1     FUR-FU-10001979        Furniture  Furnishings    133    32.776
2     OFF-AR-10002656  Office Supplies          Art     32    10.688
3     FUR-FU-10002937        Furniture  Furnishings    219   396.920
4     TEC-PH-10000895       Technology       Phones    195  1259.930
...               ...              ...          ...    ...       ...
1857  TEC-MA-10001856  Office Supplies      Binders    229   104.184
1858  OFF-PA-10001450  Office Supplies        Paper    141    10.688
1859  TEC-MA-10003353  Office Supplies          Art    147     9.780
1860  OFF-AP-10001124  Office Supplies        Paper    153    32.400
1861  TEC-PH-10002075        Furniture       Chairs    120   230.280

[1862 rows x 5 columns]

In [7]:
df.drop(columns=['productID'], inplace=True)
df

             category sub_category  stock     price
0          Technology       Phones     58    79.920
1           Furniture  Furnishings    133    32.776
2     Office Supplies          Art     32    10.688
3           Furniture  Furnishings    219   396.920
4          Technology       Phones    195  1259.930
...               ...          ...    ...       ...
1857  Office Supplies      Binders    229   104.184
1858  Office Supplies        Paper    141    10.688
1859  Office Supplies          Art    147     9.780
1860  Office Supplies        Paper    153    32.400
1861        Furniture       Chairs    120   230.280

[1862 rows x 4 columns]

In [8]:
total_no_of_items = df['sub_category'].nunique()
total_no_of_items

17

In [21]:
total_stock = df['stock'].sum()
total_stock

245288

In [10]:
total_price_of_items = round(df['price'].sum())
total_price_of_items

386319

In [15]:
total_no_categories = df['category'].nunique()
total_no_categories

3

In [24]:
highest_price = df.groupby('sub_category').agg(price=('price', 'sum'), 
                                               stock=('stock','sum')).reset_index().sort_values(by=['price'],ascending=False).head()
highest_price

   sub_category      price  stock
13       Phones  74046.644  25122
5        Chairs  60660.846  15821
16       Tables  43734.835   9958
14      Storage  40659.862  18623
11     Machines  34025.011   2699